#box1 {
   height: 33vh;
   margin: 10px;
   border:5px solid black;
   
}

#purple {
   background-color: purple;
   height: 150px;
   width: 50px;
   display: inline-block;
   margin: 15px;
}

#green {
   background-color: green;
   height: 270px;
   width: 400px;
   display: inline-block;
   margin: 20px;
}
   
#light-blue {
   background-color: lightblue;
   display: inline-block;
   height: 225px;
   width: 225px;
   border-radius: 50%;
   margin: 30px;
}

#box2 {
   height: 33vh;
   margin: 10px;
   border: 5px dotted black;
   
}

#tan {
   background-color: tan;
   height: 200px;
   width: 800px;
   margin: 50px;
   box-shadow: 5px 5px black;
}


#box3 {
   height: 33vh;
   border:2px solid grey;
   margin-left: 150px;
   margin-right: 150px;
   padding-top: 15%;
}

#text {
   text-align: center;
   font-size: 4rem;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 5px;
}